@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
  display:flex;
}

.text-gray{
  color:#424242;
}

/* dark02 */
.text-light-gray{
  color:#727272;
}

/* header styles */

.navbar{
  justify-content: space-between;
  align-items:center;
}
.brand{
  font-weight:700;
  font-size:45px;
}

/* navbar related styles */
.bg-light{
  background-color: rgba(255,144,14,0.1);
}

.nav-item{
  list-style:none;
  margin-right:30px;
}

.nav-link{
  text-decoration:none;
  font-weight:500;
}
.navbar ,.banner{
  max-width:1440px;
  margin:0 auto;
}

/* banner related styles */

.banner-content{
  max-width:850px;
  margin: 0 auto 50px auto;
}
.banner-title{
  font-weight: 700;
  font-size:4em;
}
.btn-primary{
  background-color:#FF900E;
  color:white;
  padding:20px 25px;
  font-size: 1.25rem;
  font-weight:600;
  border-radius: 0;
}
.banner-image{
  width:100%;
}

/* team and feature related styles */

.teams{
  align-items:center;
}
.team-img-container{
  display:grid;
  grid-template-columns: repeat(2,1fr);
}
main>section{
  margin-top:130px;
}

.our-features{
  margin-left: 130px;
  max-width: 530px;
}

.section-title{
  font-size:2.5rem;
  font-weight: 700;
}
#quick-list{
  font-weight:500;
}


/* Features section related styles */

.features{
  gap:140px;

}
#featue-section-title{
  border-left: 5px solid #FF900E;
  padding:20px;
}

.feature-card-
.facts-container{
  display:grid;
  grid-template-columns: repeat(4,1fr);
}

.feature-card{
   padding:30px;
  box-shadow: 0 4px 30px 0 rgba(0,0,0,0.06);
  margin-bottom:20px
}
.feature-card .feature-title{
  font-weight:600;
  font-size:1.25rem;
 
}
/* Some Facts related styles */
.fact-card{
  border: 1px solid #FF900E;
  width:240px;
  height:240px;
  border-radius:8px;
  text-align: center;
  align-items:center;
  justify-content: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top:5px;
  margin-bottom:10px;
}
.fact-name{
  font-size:1.25rem;
  font-weight:600;
}

.text-primary{
  color:#FF900E;
}
.fact-description{
  max-width:540px;
}
.sponsor-companies{
  justify-items: center;
  gap:24px;
}

/* responsive media query */
@media screen and (max-width:576px){
  .navbar ,.nav-links, .teams{
    flex-direction: column;
  }

  .team-img-container, .facts-container,
  .sponsor-companies{
    grid-template-columns: 1fr;
  }
  .facts-container,.sponsor-companies{
    justify-content: center;
    gap:24px;
  }
  .our-features{
    margin-left:20px;
  }
}

main{
  max-width:1440px;
  margin:0px auto;
}

/* sponsor related styles */
.sponsor-info{
  max-width:540px;
  margin:50px auto;
}
.sponsor-companies img{
  filter:grayscale(100%);
}

/*  medium size device */
@media screen and (min-width:576px) and (max-width:992px){
  .teams{
    flex-direction:column;
  }
  .our-features{
    margin:50px auto;
  }
  .sponsor-companies,.facts-container{
    grid-template-columns:repeat(3,1fr);
    gap:50px;
    justify-items: center;
  }
}
